{% include 'partials/color-bar.html' %}
<footer style="background-color: {{fields.colorA}}" data-custom-field="background-color:colorA">
    <div class="container footer">
        <div class="footer-logo">
            <img src="{{ fields.footer_logo }}" data-custom-field="src:footer_logo">
        </div>
        <div class="footer-address">
            <b>Address</b>
            <p>2475 NW 95th Ave</p>
            <p>Unit 8</p>
            <p>Doral, FL 33172</p>
            <p>Phone: (305) 499-3304</p>
        </div>
        <div class="footer-hours">
            <b>Hours</b>
            {% for hours in time.week_summary %}
                <p>
                    {{ hours.day_start | capitalize }}
                    {% if hours.day_end %}
                        - {{ hours.day_end | capitalize }}
                    {% endif %}
                    {% for time in hours.times %}
                        <b>{{ time.start }} - {{ time.end }}</b>
                    {% endfor %}
                </p>
            {% endfor %}
            <p><a href="mailto:info@deliriofreshco.com">info@deliriofreshco.com</a></p>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="/contactus">Feedback</a></li>
                <li><a href="/location">Location</a></li>
            </ul>
            <div class="footer-social">
                <a href="http://www.facebook.com/deliriofreshco" target="_blank">
                    <img src="{{ theme.path }}/img/social-facebook.png">
                </a>
                <a href="https://www.instagram.com/delirio_freshco" target="_blank">
                    <img src="{{ theme.path }}/img/social-instagram.png">
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copywrite">&copy; 2017 Delirio Fresh Co.</div>
</footer>
