<head>
    <meta charset="utf-8">

    <meta name="application-name" content="Delirio Fresh Co."/>
    <meta name="msapplication-square70x70logo" content="{{ theme.path }}/img/win-tiles/small.jpg"/>
    <meta name="msapplication-square150x150logo" content="{{ theme.path }}/img/win-tiles/medium.jpg"/>
    <meta name="msapplication-wide310x150logo" content="{{ theme.path }}/img/win-tiles/wide.jpg"/>
    <meta name="msapplication-square310x310logo" content="{{ theme.path }}/img/win-tiles/large.jpg"/>
    <meta name="msapplication-TileColor" content="#fff"/>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" >
    <meta name="description" content="{{ meta.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ meta.tags }}
    <link rel="icon" href="{{ theme.path }}/img/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ theme.path }}/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>{{ name }}</title>
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">

    {{ head }}
    {{ theme.styles }}
</head>
