<nav class="navbar {% if home == true %}navbar-transparent{% endif %}" role="navigation">
    {% include "partials/color-bar.html" %}
    <div class="container">
        <div class="navbar-mobile">
            <div class="navbar-mobile-toggle">
                <button type="button" class="btn show-navigation">
                    <span class="sr-only">Toggle Navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-mobile-logo">
                <a href="/">
                    <img src="{{ fields.nav_logo_mobile }}" data-custom-field="src:nav_logo_mobile" alt="{{ name }}">
                </a>
            </div>
            <div class="navbar-mobile-cart" cart>
                <button type="button" class="btn show-quick-order">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="badge ng-cloak" ng-show="cart.items.length" ng-bind="cart.items.length"></span>
                </button>
            </div>
        </div>
        <div class="navbar-desktop">
            <div class="navbar-desktop-logo">
                <a href="/">
                    <img src="{{ fields.nav_logo }}" data-custom-field="src:nav_logo" alt="{{ name }}">
                </a>
            </div>
            <div class="navigation">
                <div class="navigation-header">
                    <button type="button" class="hide-navigation">
                        <span class="sr-only">Close Navigation</span>
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="navigation-pages">{% include "partials/navigation.html" %}</div>
                <div class="navigation-customer">
                    {% include "partials/customer-menu.html" %}
                    <div class="navbar-desktop-cart" cart>
                        <button type="button" class="btn show-quick-order">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="badge ng-cloak" ng-show="cart.items.length" ng-bind="cart.items.length"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="quick-order">
            {% include "partials/quick-order.html" %}
        </div>
    </div>
</nav>
