{% include "partials/color-bar.html" %}
{% raw %}
<div class="ng-cloak" ng-show="cart.items.length">
    <table class="table">
        <tr ng-repeat="item in cart.items">
            <td>
                <img class="image" ng-src="{{item.photo}}" ng-show="item.photo" height="40">
            </td>
            <td>
                <b>{{item.name}}</b> {{item.variant}}
                <div ng-repeat="choice in item.choices">
                    <i>
                        <span ng-repeat="option in choice.options">
                            {{choice.name}}: {{option.name}}
                        </span><br>
                    </i>
                </div>
                <div ng-show="item.note" style="color:red"><b>Note:</b> {{item.note}}</div>
            </td>
            <td class="text-right">
                <div class="input-group">
                    <span class="input-group-addon qty-change noselect" ng-click="decrement(item, $event)">-</span><input class="form-control" aria-label="Quantity" type="tel" ng-model="item.qty" min="1" pattern="[0-9]*"><span class="input-group-addon qty-change noselect" ng-click="increment(item, $event)">+</span>
                </div>
            </td>
            <td class="text-right">
                <div class="amount">
                    {{item.total | currency}}
                </div>
             </td>
            <td>
                <a class="remove" ng-click="remove(item, $event)"><i class="fa fa-times"></i></a>
            </td>
            <td>
        </tr>
    </table>
    <div class="actions">
        Subtotal <strong>{{cart.subtotal | currency}}</strong>
        <div class="row">
            <div class="col-xs-12 text-right">
                <a class="btn checkout" href="/checkout">Checkout</a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" ng-hide="cart.items.length">
    <p style="text-align:center;">No Items in your order</p>
</div>
{% endraw %}
