<button class="location-select-buttom" data-open-location-select>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <g>
            <g>
            <path fill="#EC008B" d="M50.8,29.5c-9.3,0.2-16.8,7.8-16.8,17.1c0,3,1,6.2,2.1,8.2c0.8,1.5,11.4,20,11.4,20c1.6,2.8,5.5,2.8,7.1,0
                l11.4-20c1.4-2.6,2.2-5.5,2.1-8.6C68.1,36.9,60.1,29.3,50.8,29.5z M51.2,53.7c-3.7,0-6.7-3-6.7-6.8c0-3.7,3-6.8,6.7-6.8
                c3.7,0,6.7,3,6.7,6.8C57.9,50.7,54.9,53.7,51.2,53.7z"/>
            </g>
        </g>
    </svg>
    <span>{{location.name}}</span>
</button>