{% extends "layouts/full-page.html"  %}

{% block content %}
    <section class="main-content">
        <div class="container">
            <h1>Your Order</h1>
            {% raw %}
            <div class="container ng-cloak">
                <div class="cart-empty" ng-hide="cart.items.length">
                    <p>Your order is empty</p>
                </div>
                <div ng-show="cart.items.length">
                    <div class="cart-item" ng-show="cart.items.length" ng-repeat="item in cart.items">
                        <div class="cart-item-remove">
                            <a ng-click="remove(item, $event)">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div class="cart-item-qty">
                            {{item.qty}}
                        </div>
                        <div class="cart-item-description">
                            <p class="cart-item-name">
                                <b>{{item.name}}</b> {{item.variant}}
                            </p>
                            <ul class="cart-item-choices" ng-repeat="choice in item.choices">
                                <li ng-repeat="option in choice.options">
                                    {{choice.name}}: {{option.name}}
                                </li>
                            </ul>
                            <p class="cart-item-note" ng-show="item.note">
                                <b>Note:</b> {{item.note}}
                            </p>
                        </div>
                        <div class="cart-item-qty-control">
                            <div>
                                <button class="btn" ng-click="decrement(item, $event)">-</button>
                            </div>
                            <div>{{item.qty}}</div>
                            <div>
                                <button class="btn" ng-click="increment(item, $event)">+</button>
                            </div>
                        </div>
                        <div class="cart-item-amount">
                            {{item.total | currency}}
                         </div>
                    </div>
                    <div class="cart-subtotal">
                        Subtotal <strong>{{cart.subtotal | currency}}</strong>
                    </div>
                    <div class="cart-address">
                        <p><b>Order Type:</b> {{ cart.type }}</p>
                        <p ng-if="cart.type == 'delivery'">
                            <b>Delivery Address:</b> 
                            {{ cart.address1 }} {{ cart.address2 }}
                            {{ cart.city }} {{ cart.zip }}
                        </p>
                        <a href="#" edit-order-address>Edit</a>
                    </div>
                    <div class="cart-actions">
                        <a class="btn" href="/checkout">Checkout</a>
                    </div>
                </div>
            </div>
            {% endraw %}
        </div>
    </section>
{% endblock %}
