{% extends "layouts/full-page.html"  %}
{% set home = true %}

{% block content %}
    <div id="home-banner" class="home-banner"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#home-banner"
    >
        <div>
            <h1 class="title">
                <img src="{{ fields.home_image }}" data-custom-field="src:home_image"><br>
                <span data-custom-field="html:slogan">{{ fields.slogan }}</span>
            </h1>
        </div>
        <div>
            {{ content('home-hero') }}
        </div>
    </div>
    <section class="main-content">
        <div class="container">
            {{ content("main") }}
        </div>
    </section>
{% endblock %}
