{% extends "layouts/full-page.html"  %}

{% block content %}
    <div class="home-banner" style="background-image: url({{ fields.home_background }})" data-custom-field="background-image:home_background">
        <div>
            <h1 class="title">
                <img src="{{ fields.home_image }}" data-custom-field="src:home_image"><br>
                <span data-custom-field="html:slogan">{{ fields.slogan }}</span>
            </h1>
        </div>
        <div>
            {{ content('home-hero') }}
        </div>
    </div>

    <section class="main-content">
        <div class="container">
            {{ content("main") }}
        </div>
    </section>   

{% endblock %}
