{% extends "layouts/full-page.html"  %}

{% block content %}
    <section class="main-content">
        <div class="container">
            {% for menu in menus %}
                <div class="food-menu" id="{{ menu.slug }}">
                    <h1 class="menu-name">
                        <a href="#{{ menu.slug }}">{{ menu.name }}</a>
                    </h1>
                    {% include "partials/color-bar.html" %}
                    {% for item in menu.content %}
                        {% if item.type == 'section' %}
                            {% include "partials/menu/section.html" with { section: item } %}
                        {% endif %}
                        {% if item.type == 'item' %}
                            {% include "partials/menu/item.html" with { item: item } %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
