{% extends "layouts/headless.html"  %}

{% block content %}
<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-7">
                <h1 class="align-center">{{ name }}</h1>

                {% if valid_token %}
                    <form method="post" action="/login/reset-password" class="form-horizontal" role="form">
                        <input type="hidden" name="_token" value="{{ csrf_token }}"></input>
                        <fieldset>
                            <legend>Reset Password</legend>
                            <input type="hidden" name="token" value="{{ token }}">
                            <input type="hidden" name="email" value="{{ customer.email }}">

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    {% include "partials/message.html" %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-sm-4 control-label">Email:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="email" id="email" disabled value="{{ customer.email }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-sm-4 control-label">New Password:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="password" tabindex="1" id="password" name="password" autofocus>
                                    {% if errors.password %}
                                    <div class="alert alert-danger">{{ errors.password }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="confirm_password" class="col-sm-4 control-label">Confirm New Password:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="password" tabindex="2" id="confirm_password" name="confirm_password">
                                    {% if errors.confirm_password %}
                                    <div class="alert alert-danger">{{ errors.confirm_password }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8 align-right">
                                    <button type="submit" class="btn btn-primary">Reset Password</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                {% else %}
                    <p><a href="/login/">« back</a></p>
                    <div class="alert alert-danger">This token is invalid or has expired</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
