.checkout-title {
    flex-basis: 100%;
    text-align: center;
}
.checkout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 1200px) {
        align-items: flex-start;
    }
    .checkout-form {
        margin: 0 auto;
        width: 100%;
        @media (min-width: 1200px) {
            width: auto;
        }
        fieldset {
            margin: 20px auto;
            padding: 20px 10px;
            @media (min-width: 768px) {
                padding: 20px 20px;
            }
            border: 1px solid $border-color;
        }
        legend {
            color: #EC008B;
            padding: 0 10px;
            margin: 0;
            background-color: white;
            display: inline;
            width: auto;
        }

        .checkout-form-submit {
            border: none;
            .checkout-form-toc {
                font-size: 14px;
                color: $colorG;
            }
            .checkout-form-button button {
                font-size: 24px;
            }
        }
    }
}

@import "order-summary";
@import "order-type";
@import "order-schedule";
@import "order-address";
@import "gratitude";
@import "discount";
@import "payment";
