.order-summary {
    border: 1px solid $border-color;
    font-size: 12px;
    margin: 0 auto;
    width: 100%;
    @media (min-width: $sm-width) {
        font-size: 18px;
    }
    @media (min-width: $xl-width) {
        margin-top: 29px;
        width: auto;
        min-width: 260px;
    }
    .order-summary-heading {
        border-bottom: 1px solid $border-color;
        padding: 12px;
        position: relative;
        &:after {
            font-family: 'FontAwesome';
            font-size: 22px;
            content: "\f055";
            color: #7EC243;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 15px;
            height: 100%;
            cursor: pointer;
            @media (min-width: $sm-width) {
                content: "";
            }
        }

        .order-summary-title h3 {
            font-size: 18px;
        }
    }

    .order-summary-body {
        overflow: hidden;
        height: 0;
        font-size: 14px;
        @media (min-width: $sm-width) {
            height: auto;
        }
        -webkit-transition: height 0.8s;
        -moz-transition: height 0.8s;
        transition: height 0.8s;
    }

    &.open {
        .order-summary-heading:after {
            content: "\f056";
        }
        .order-summary-body {
            height: auto;
        }
    }
}


.order-summary-item {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    @media (min-width: $sm-width) {
        padding: 12px;
    }

    .order-summary-item-qty {
        flex-basis: 22px;
        font-weight: 500;
        color: #333;
    }

    .order-summary-item-desc {
        flex: 1;
        p {
            color: $colorD;
            margin: 0;
        }
        ul {
            padding: 0;
            margin: 0;
            color: #AAA;
            li {
                list-style-type: none;
                margin-left: 5px;
            }
        }
    }
    .order-summary-item-amount {
        flex-basis: 60px;
        font-weight: 700;
        text-align: right;
        color: $colorA;
        @media (min-width: $sm-width) {
            flex-basis: 120px;
        }
    }
}

.order-summary-lineitems {
    padding: 6px;
    @media (min-width: $sm-width) {
        padding: 12px;
    }
    .order-summary-subtotal,
    .order-summary-lineitem,
    .order-summary-total {
        text-align: right;
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
        span:nth-child(1) {
            color: $colorD;
        }
        span:nth-child(2) {
            flex-basis: 60px;
            text-align: right;
            color: $colorA;
            @media (min-width: $sm-width) {
                flex-basis: 120px;
            }
        }
    }
}

.order-summary-actions {
    padding: 12px;
    text-align: center;
    a {
        text-decoration: underline;
    }
}
