.checkout-form-order-schedule {

    .form-group {
        display: flex;
        justify-content: center;

        .form-control {
            width: auto;
        }

        input[type=radio] {
            @include checkout-radio();
        }
    }
}
