footer {
    color: white;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    @media (min-width: $sm-width) {
        font-size: 18px;
    }

    a {
        color: white;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
    p {
        margin: 0;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;

        .footer-hours {
            flex: 2;
            padding-right: 5px;
            padding-bottom: 5px;
            text-align: center;
        }

        .footer-logo {
            flex: 1;
            align-self: center;
            display: none;
            img {
                max-width: 100px;
            }
            @media (min-width: $sm-width) {
                display: block;
                img {
                    max-width: 100px;
                }
            }
            @media (min-width: $lg-width) {
                img {
                    max-width: 140px;
                }
            }
        }

        .footer-links {
            flex: 1;
            text-align: center;
            ul {
                padding: 0;
            }
            li {
                list-style-type: none;
            }
            .footer-social {
                text-align: center;
                img {
                    margin: 2px;
                    max-width: 20px;
                    @media (min-width: $sm-width) {
                        margin: 2px;
                        max-width: 50px;
                    }
                }
            }
        }
    }
    .footer-copywrite {
        margin-top: 30px;
        text-align: center;
        font-size: 14px;
    }
}
