/* navbar-full.html */
body.navbar-fixed {
    padding-top: 52px;
    @media (min-width: $sm-width) {
        padding-top: 84px;
    }
    &.home {
        padding-top: 0;
    }
    .navbar {
        position: fixed;
    }
    .navbar.navbar-transparent {
        background-color: transparent;
        box-shadow: none;
    }
    &.scrolled .navbar.navbar-transparent {
        @media (min-width: $sm-width) {
            background-color: white;
            box-shadow: 1px 1px 1px 1px #eee;
        }
    }
}

.navbar {
    top: 0;
    margin-bottom: 0;
    border: none;
    background-color: white;
    width: 100%;
    z-index: 1000;
    box-shadow: 1px 1px 1px 1px #eee;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navigation-customer .location-select-buttom {
    margin-right: 20px;
}
.location-select-buttom {
    display: flex;
    background-color: #7EC243;
    color: #fff;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    height: 38px;
    padding: 0 12px 0 0;
    svg {
        height: 28px;
    }
}

.navbar-mobile {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $colorF;

    .navbar-mobile-toggle,
    .navbar-mobile-center,
    .navbar-mobile-cart {
        order: 1;
    }

    .navbar-mobile-toggle {
        flex: 1;
        margin-left: 4px;
    }
    .navbar-mobile-center img {
        height: 35px;
    }
    .navbar-mobile-cart {
        flex: 1;
        margin-right: 4px;
        text-align: right;
    }

    @media (min-width: $sm-width) {
        display: none;
    }
}

.navbar-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .navbar-desktop-logo,
    .navbar-desktop-cart {
        display: none;
        @media (min-width: $sm-width) {
            display: block;
        }
    }
    .navbar-desktop-logo img {
        max-height: 60px;
    }
}

.quick-order {
    @include sidenavigation(100%);
}

.navigation {
    display: flex;
    flex-direction: column;
    padding: 14px 20px;
    @media (max-width: 767px) {
        @include sidenavigation(-100%);
    }
    @media (min-width: $sm-width) {
        padding: 0 0 5px;
        flex: 1;
    }

    .navigation-header {
        text-align: right;
        @media (min-width: $sm-width) {
            display: none;
        }
    }

    .navigation-customer {
        border-top: 1px solid $colorG;
        @media (min-width: $sm-width) {
            order: -1;
            border-top: none;
            display: flex;
            justify-content: flex-end;
        }
    }
}

/* navbar-simple.html */
.navbar-simple {
    display: flex;
    justify-content: center;
    background-color: #fff;
    img {
        max-height:  35px;
    }
}

/* navbar-checkout.html */
.navbar-checkout {
    background-color: #fff;
    .container {
        text-align: center;
        .navbar-checkout-logo {
            img {
                max-height:  40px;
                @media (min-width: $sm-width) {
                    max-height: 60px;
                }
            }
        }
        .navbar-checkout-lock {
            max-height: 32px;
            @media (min-width: $sm-width) {
                max-height: 48px;
            }
        }
    }
}

