.location-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    > div {
        flex: 1;
        margin: 15px;
        text-align: center;
        border: 1px solid $colorA;
        padding-bottom: 10px;
        h3 {
            margin: 10px 0;
        }
    }

    .leaflet-container {
        cursor: pointer;
    }

    @media (min-width: 468px) {
        margin: 20px 0;
        flex-direction: row;
    }
}