.food-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .menu-name {
        width: 100%;
        margin: 30px 0 10px;
        font-size: 20px;
        @media (min-width: 768px) {
            font-size: 36px;
        }
        text-align: center;
        @media (min-width: 480px) {
            text-align: left;
        }
        a {
            color: $colorA;
        }
    }
}

.menu-section {
    text-align: center;
    margin: 20px 0 15px;
    width: 100%;
    .section-name {
        color: $colorD;
        text-decoration: underline;
        margin: 4px 8px;
        font-size: 18px;
        @media (min-width: 768px) {
            font-size: 22px;
        }
    }
    .section-description {
        color: #777;
        font-size: 14px;
        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
}

.menu-subsection {
    width: 100%;
    border: 1px solid blue;
    .subsection-name {
        color: $colorC;
        margin: 0 0;
    }
}

.menu-item {
    display: flex;
    cursor: pointer;
    flex-basis: 100%;
    margin: 0 0 16px;
    padding: 8px 16px;
    border: 1px solid transparent;
    transition: all 0.3s;
    font-size: 14px;
    @media (min-width: 768px) {
        font-size: 18px;
        flex-basis: 50%;
    }
    .item-image {
        width: 100px;
        height: 100px;
        border-radius: 2px;
        margin: 10px 10px 10px -5px;
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    // .item-content {
    //     flex: 1;
    // }
    &:hover {
        border: 1px solid $colorA;
    }

    .item-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        .item-name {
            margin-right: auto;
            color: $colorD;
        }
        .item-variants {
            margin-left: auto;
            color: $colorA;
        }
    }

    .item-flags {
        vertical-align: text-bottom;
    }
    .item-description {
        color: #AAA;
        transition: all 0.3s;
    }
    &:hover .item-description {
        color: #777;
    }
}

/* Menu modal */
.menu-item-modal {
    .menu-item-modal-image {
        text-align: center;
        background-color: #EEE;
        width: 100%;
        min-height: 300px;
        img {
            max-width: 100%;
            max-height: 400px;
        }
    }
    .menu-item-modal-description {
        text-align: center;
        font-size: 14px;
        margin: 6px 0 6px;
        color: $colorG;
    }
    .menu-item-modal-price {
        color: $colorA;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }
    .menu-item-modal-loading {
        min-height: 200px;
    }
    .menu-item-modal-choices {
        label {
            font-size: 14px;
            i {
                font-weight: 600;
            }
        }
        .checkbox {
            margin-bottom: 4px;
        }
    }
    .menu-item-modal-note {
        label {
            color: $colorA;
            font-size: 14px;
        }
    }
    fieldset {
        margin: 20px auto;
        padding: 20px 10px;
        border: 1px solid $border-color;
    }
    legend {
        color: #EC008B;
        padding: 0 10px;
        margin: 0;
        background-color: white;
        display: inline;
        width: auto;
    }
    .checkboxes, .radios {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 768px) {
            padding: 0 40px;
        }

        label {
            cursor: pointer;
            flex-basis: 50%;
            font-weight: 400;
            color: #777;
            margin: 10px 0;

            .choice-price {
                color: $colorA;
            }
        }
    }
    .qty {
        min-width: 150px;
        width: 150px;
        display: inline-block;
        margin-top: 0px;
        padding: 0;
        vertical-align: middle;
        input {
            text-align: center;
            font-weight: 500;
        }
    }
    .qty-change {
        cursor: pointer;
    }
}

.prediction-list {
    padding: 0;
    border: 1px solid #EEE;
    box-shadow: 0px 1px 1px #eee;
    .prediction-address {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        color:$colorD;
        padding: 5px;
        .fa-check {
            color: $colorA;
        }
        &:hover {
            background-color: $colorA;
            color: #fff;
            .fa-check {
                color: #fff;
            }
        }
    }
}
.menu-is-closed {
    text-align: center;
    font-weight: 600;
    color: $colorD;

    .week-schedule {
        color: $colorA;
        padding: 0;
        li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 220px;
            font-weight: 300;
        }
        .week-schedule-hour {
            font-weight: 600;
        }
    }
}