// #7EC243
$colorA: get-field("colorA");

// #D6DF23
$colorB: get-field("colorB");

// #F9AB19
$colorC: get-field("colorC");

// #EC008B
$colorD: get-field("colorD");

$colorE: #555;
$colorF: #FFF;
$colorG: #CCC;

@import "mixins";
@import "header";
@import "nav-menu";
@import "quick-order";
@import "home";
@import "menu";
@import "common";
@import "footer";
