// #7EC243
$colorA: get-field("colorA");

// #D6DF23
$colorB: get-field("colorB");

// #F9AB19
$colorC: get-field("colorC");

// #EC008B
$colorD: get-field("colorD");

$colorE: #555;
$colorF: #FFF;
$colorG: #CCC;
$border-color: #CCC;

$xs-width: 480px;
$sm-width: 736px;
$md-width: 992px;
$lg-width: 1024px;
$xl-width: 1200px;

@import "mixins";
@import "header";
@import "nav-menu";
@import "quick-order";
@import "home";
@import "location-select";
@import "menu";
@import "meal-plan";
@import "common";
@import "checkout/checkout";
@import "blocks/instagram";
@import "footer";
@import "editor";
